.header{
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 4px 5px #eceaea;
}

.logo-container{
    margin-left: 100px;
}

.nav-items ul{
    padding: 10px;
    display: flex;
    font-size: 17px;
    list-style-type: none;
    margin-right: 100px;
   
}

.nav-items ul li{
    padding: 7px;
}


.search{
    padding: 20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.res-card{
    width: 200px;
    padding: 10px;
    margin: 13px;
    border-radius: 5%;
    box-shadow: 1px 4px 5px #aaaaaa;
}

.res-logo{
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 5%;
}

.carousel-container{
    margin-top: 10px;
    display: flex;
    overflow-y: auto;
    margin-bottom: 20px;
    box-shadow: 1px 2px 5px #edebeb;
    height: 300px;
    
}

.carousel-img{
    width: 270px;
    margin-top: -50px;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.filter-btn{
    padding: 7px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 7%;
}